<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DemoSuite" verbose="1">
  <test name="GateinDemo" enabled="false" parallel="false">
    <parameter name="baseUrl" value="http://localhost:8080/portal"/>
	  <groups>
	    <run>
	      <include name="gatein" />
	    </run>
	  </groups>
    <packages>
      <package name="org.exoplatform.selenium.gatein.*" />
    </packages>  
  </test>

  <test name="PlatformDemo" enabled="true" parallel="false">
    <parameter name="baseUrl" value="http://google.com"/>
    <groups>
      <run>
        <!-- <include name="social" /> -->
        <!-- <exclude name="fnchigh" />
        <exclude name="smoke" />
        <exclude name="sniff" /> -->        
        <include name="platform" />
      </run>
    </groups>
    <packages>
      <package name="org.exoplatform.selenium.platform.*" />
    </packages>  
  </test>
</suite>
